 <!-- this is portion of parallax website.. 01 -->
 <div class="parallax-window" data-parallax="scroll" data-image-src="../../assets/img/interior.jpg" id="img3">
    <div class="container "> <!-- start container -->
              <br><br>
                <div class="row" > 
                    <div class="col-lg-4" data-aos="flip-left" data-aos-duration="1000">
                        <!-- <img src="img/logo.png" alt="" style="height: 45px;width: 200px;margin-bottom: 5px;"> -->
                        <h1 class="text-white font-weight-bold">My Text</h1>
    
                        <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        </p>
                        <button class="btn  btn-outline-warning text-center">Readd more</button>
                    </div>
    
    
                    <div class="col-lg-4" data-aos="flip-up" data-aos-duration="1000" >
                        <h2 style="color: white;">Quick Links</h2>
                        <ul style="list-style-type: none;">					
                        <li><i class="fa fa-home " style="color: white;"></i>&nbsp;<a href="#" class="text-white">Home</a></li>
    
                        <li><i class="fa fa-volume-control-phone " style="color: white;"></i>&nbsp;<a href="#" class="text-white">Portfolio</a></li>
    
                        <li><i class="fa fa-envelope-o " style="color: white;"></i>&nbsp;<a href="#" class="text-white">Notification</a></li>
    
    
                        <li><i class="fa fa-list-alt " style="color: white;"></i>&nbsp;<a href="#" class="text-white">About us</a></li>
    
                        <li><i class="fa fa-connectdevelop " style="color: white;"></i>&nbsp;<a href="#" class="text-white">Contect us</a></li>
                        </ul>
    
                    </div>
    
    
                    <div class="col-lg-4 text-white" data-aos="flip-right" data-aos-duration="1000">
                        <h2 style="color: white;">Contact Us</h2>
    
                        <strong>Address : </strong> <label>Bahawalpur city.Punjab(pak)</label><br>
    
    
                        <strong>Email : </strong> <label>Bilalrajput589@gmail.com</label><br>
    
                        <strong>Phone : </strong> <label>+923015897755</label><br>
                    </div>
    
    
    
    
    
    
                </div>
    
    
    
    
                <br><br>
    
        </div> <!-- end container -->
    </div>