#img1{
	min-height: 500px;
	background: rgba(0,0,0,0.8);
}
.row{
    padding: 100px 30px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color:white
}
p{
    font-family: serif;
    color: white;
    font-size: 1.1em;
}