<section>
   
    <div class="parallax-window" data-parallax="scroll" data-image-src="../../assets/img/interior.jpg" id="img1">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-6">
                <h1>About US</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio libero, quam fuga cupiditate dolorum amet id esse magni eligendi blanditiis, dolores vero quisquam. Id, ab vel dolores magnam quis excepturi! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur laborum corporis blanditiis illo hic temporibus esse eaque quam ipsum perspiciatis rem ab dolore facilis dignissimos, non mollitia impedit modi maxime.</p>
                </div>
                <div class="col-lg-6">
                    <img src="../../assets/img/1.jpg" alt="" class="img-fluid img-thumbnail">
                </div>
            </div>
        </div>
       
    
    </div>
</section>
