<section id="one">
    <h1 class="text-center text-white">Our Services</h1>

    <!-- next serices portion will be start -->
    <div class="container"> <!-- start container -->
               
       
    <div class="row " id="rowsetting" >

        <div class="col-lg-4 d-block m-auto">
            <div class="d-block m-auto imgsetting"><i class="fa fa-shopping-cart fa-3x text-center" style="color: #5680EB; "></i></div>
           <br>
            <h1 class="text-center text-white">E-Comerace</h1>
            <p class="text-center text-white">Twinkle, twinkle, little star, 
            How I wonder what you are! 
            Up above the world so high, 
            Like a diamond in the sky. 
            
            
            </p>
        </div>


        <div class="col-lg-4 d-block m-auto">
            <div class="d-block m-auto imgsetting"><i class="fa fa-desktop fa-3x text-center" style="color: #5680EB; "></i></div>
           <br>
            <h1 class="text-center text-white">Responsive Design</h1>
            <p class="text-center text-white">Twinkle, twinkle, little star, 
            How I wonder what you are! 
            Up above the world so high, 
            Like a diamond in the sky. 
            
            
            </p>
        </div>


        <div class="col-lg-4 d-block m-auto">
            <div class="d-block m-auto imgsetting"><i class="fa fa-lock fa-3x text-center" style="color: #5680EB; "></i></div>
           <br>
            <h1 class="text-center text-white">Web Security</h1>
            <p class="text-center text-white">Twinkle, twinkle, little star, 
            How I wonder what you are! 
            Up above the world so high, 
            Like a diamond in the sky. 
            
            
            </p>
        </div>


    </div>


    </div> <!-- end container -->
</section>
<!-- end -->



