<!-- this is portion of parallax website.. 02 -->
<div class="parallax-window" data-parallax="scroll" data-image-src="../../assets/img/interior.jpg" id="img2">
    <div class="container">
   <h1 class="text-center text-white">PORTFOLIO</h1>
   <P class="text-center text-white">Lorem ipsum dolor sit amet, consectetur </P>
<br><br>
   <!-- now we create row of imges  Row 1 -->
    <div class="row">

         <div class="image-gallery col-lg-4 col-md-4 col-sm-4 col-12 d-block m-auto" data-aos="zoom-out-up" data-aos-duration="1000">
             <div class="card myimage">

                <div class="imageGallery1">
                    <a href="../../assets/img/3.jpg" title="Caption for gallery item 1"><img src="../../assets/img/3.jpg" class="img-fluid" alt="Gallery image 1" /></a>
                </div>
                
                 <div class="card-body">
                      <h2 class="card-title">Flower Basket</h2>
                      <p class="card-text">Twinkle, twinkle, little star</p>
                 </div>
             </div>
         </div>


         <div class="image-gallery col-lg-4 col-md-4 col-sm-4 col-12 d-block m-auto" data-aos="zoom-in-up" data-aos-duration="1000">
             <div class="card myimage">
                <div class="imageGallery1">
                    <a href="../../assets/img/4.jpg" title="Caption for gallery item 1"><img src="../../assets/img/4.jpg" class="img-fluid" alt="Gallery image 1" /></a>
                </div>
                 <div class="card-body">
                      <h2 class="card-title">Night Lamp</h2>
                      <p class="card-text">Twinkle, twinkle, little star</p>
                 </div>
             </div>
         </div>


         <div class="image-gallery col-lg-4 col-md-4 col-sm-4 col-12 d-block m-auto" data-aos="zoom-in" data-aos-duration="1000">
             <div class="card myimage">
                  <div class="imageGallery1">
                    <a href="../../assets/img/6.jpg" title="Caption for gallery item 1"><img src="../../assets/img/6.jpg" class="img-fluid" alt="Gallery image 1" /></a>
                </div>
                 <div class="card-body">
                      <h2 class="card-title">Office View</h2>
                      <p class="card-text">Bilal Office Point </p>
                 </div>
             </div>
         </div>

    </div>
    <br>
   <!-- now we create row of imges  Row 2 -->
    <div class="row">

         <div class="image-gallery col-lg-4 col-md-4 col-sm-4 col-12 d-block m-auto" data-aos="zoom-in-left" data-aos-duration="1000">
             <div class="card myimage">
                <div class="imageGallery1">
                    <a href="../../assets/img/7.jpg" title="Caption for gallery item 1"><img src="../../assets/img/7.jpg" class="img-fluid" alt="Gallery image 1" /></a>
                </div>
                 <div class="card-body">
                      <h2 class="card-title">Interior Design</h2>
                      <p class="card-text">Design Your home </p>
                 </div>
             </div>
         </div>


         <div class="image-gallery col-lg-4 col-md-4 col-sm-4 col-12 d-block m-auto" data-aos="zoom-in-right" data-aos-duration="1000">
             <div class="card ">
                <div class="imageGallery1">
                    <a href="../../assets/img/8.jpg" title="Caption for gallery item 1"><img src="../../assets/img/8.jpg" class="img-fluid" alt="Gallery image 1" /></a>
                </div>
                 <div class="card-body">
                      <h2 class="card-title">Timmy Light</h2>
                      <p class="card-text">Heart touching Light show me</p>
                 </div>
             </div>
         </div>


         <div class="image-gallery col-lg-4 col-md-4 col-sm-4 col-12 d-block m-auto" data-aos="zoom-in-left" data-aos-duration="1000">
             <div class="card myimage">
                <div class="imageGallery1">
                    <a href="../../assets/img/9.jpg" title="Caption for gallery item 1"><img src="../../assets/img/9.jpg" class="img-fluid" alt="Gallery image 1" /></a>
                </div>
                 <div class="card-body">
                      <h2 class="card-title">Tinny Buntee</h2>
                      <p class="card-text">tinny buntee point</p>
                 </div>
             </div>
         </div>

    </div>


        
                       <!-- end row portion -->


</div> <!-- end container div -->

</div>
<!-- end the image portion -->

