<!-- the section portion willl startedd... -->
<section id="two">
    <div class="container text-center text-white">

   <h1>OUR AMAZING TEAM</h1>
   <P>Lorem ipsum dolor sit amet, consectetur </P>
   <!-- now start team making portion -->
   <div class="row  teamsetting">

   <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-block m-auto" data-aos="flip-up" data-aos-duration="1000">
       <figure class="figure-img">
           <img src="../../assets/img/a.jpg" alt="" class="img-fluid rounded-circle" style="height: 250px;width: 250px;">
           <figcaption>
               <h4>Rao Bilal</h4>
               <p >Web Developer</p>
           </figcaption>
       </figure>
   </div>


   <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-block m-auto" data-aos="flip-down" data-aos-duration="1000">
       <figure class="figure-img">
           <img src="../../assets/img/b.jpg" alt="" class="img-fluid rounded-circle" style="height: 250px;width: 250px;">
           <figcaption>
               <h4>Rao Bilal</h4>
               <p >Web Developer</p>
           </figcaption>
       </figure>
   </div>


   <div class="col-lg-4 col-md-4 col-sm-4 col-12 d-block m-auto" data-aos="flip-left" data-aos-duration="1000">
       <figure class="figure-img">
           <img src="../../assets/img/c.jpg" alt="" class="img-fluid rounded-circle" style="height: 250px;width: 250px;">
           <figcaption>
               <h4>Rao Bilal</h4>
               <p >Web Developer</p>
           </figcaption>
       </figure>
   </div>

</div>
</div>
</section>
<!-- end -->

